@model IEnumerable<LuceMIS4200_940.Models.Orders>

@{
    ViewBag.Title = "Order Index";
}

<h2>Order Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.customer.fullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.customer.fullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.orderDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.orderNum }) |
            @Html.ActionLink("Details", "Details", new { id=item.orderNum }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.orderNum })
        </td>
    </tr>
}

</table>
